@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');


body {
    background-color: #F8FAFC;
    margin: 0 20vw 0 20vw;
}

.topContainer {
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
}

h1 {
    text-align:center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    max-inline-size: 68ch;
}

#separator {
    color: #D9D9D9;
    max-height: 15px;
}



section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.article {
    display: flex;
    align-items: center;
    gap: 50px;
}

img.thumbnail {
    border-radius: 7%;
    object-fit: cover;

}

.articleTitle {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    max-inline-size: 68ch;
    margin-bottom: 5px;
}

.date {
    color: #4D5562;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
}

.titleAndDate {
    display: flex;
    flex-direction: column;
    gap: px;
    height: auto;
}